.skillsSection {
    height: fit-content;
    width: 100%;
    background-color: rgba(9, 14, 40);
    padding-bottom: 80px;
}


.iconsContainer{
    margin: 120px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.iconsContainer > span {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0);
    max-height: 140px;
    min-height: 60;
    align-items: center;
    width: 130px;
    margin: 30px 45px;
    font-size: 30px;
    transition: color 0.3s;
}

.iconsContainer > span:hover {
    color: rgb(255, 255, 255);
}


.iconsContainer > span > img {
    height: 100%;
    width: auto;
}



.skillsSection h1 {
    margin: 0px;
}





@media (max-width: 1200px){
    .iconsContainer > span > img {
        height: 90%;
        width: auto;
    }
    .iconsContainer {
        width: 100%;
    }
    
    .iconsContainer > span {
        color: white;
        font-size: 2vw;
        height: 135px;
        width: 120px;
        margin: 30px 20px;
    }
    .skillsSection h1 {
        margin: 0px;
        font-size: 1em;
    }
}

@media (max-width: 600px){
    .iconsContainer > span > img {
        height: 100%;
        width: auto;
    }
    .iconsContainer {
        width: 100%;
    }

    .iconsContainer > span {
        color: white;
        font-size: 4vw;
        height: 90px;
        width: 80px;
        margin: 30px 20px;
    }
    .skillsSection h1 {
        margin: 0px;
        font-size: 1em;
    }
}

  
